<%= form_for(@post, url: main_app.admin_posts_path(@post),  html: { method: action_name=="new"? ':post': ':put', class: 'form-horizontal' }) do |f| %>


<div class="form-group">
    <%= f.label :title, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :title, class: 'form-control'  %>
    </div>
</div>


<div class="form-group">
    <%= f.label :body, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :body, class: 'form-control'  %>
    </div>
</div>


<div class="form-group">
    <%= f.label :price, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :price, class: 'form-control'  %>
    </div>
</div>



<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit action_name == "new" ? "Create" : "Update", class: "btn btn-primary" %>
    </div>
</div>
<% end %>
