<%= form_for(@phone, url: main_app.admin_phones_path(@phone),  html: { method: action_name=="new"? ':post': ':put', class: 'form-horizontal' }) do |f| %>


<div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control'  %>
    </div>
</div>


<div class="form-group">
    <%= f.label :contry, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :contry, class: 'form-control'  %>
    </div>
</div>


<div class="form-group">
    <%= f.label :number, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :number, class: 'form-control'  %>
    </div>
</div>



<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit action_name == "new" ? "Create" : "Update", class: "btn btn-primary" %>
    </div>
</div>
<% end %>
