<h2>Admin Users</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
		<td><%= link_to user.id, user_path(user) %></td>
		<td><%= user.name %></td>
		<td><%= user.email %></td>
        <td><%= link_to 'Edit', edit_user_path(user) if current_user.can_update?(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, 
			data: { confirm: 'Are you sure?' } if current_user.can_delete?(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path if current_user.can_create?(Admin::User) %>
