<h2>Admin Users</h2>

<div class="row">
	<div class="col-xs-9">
<%= paginate @users %>
</div>
<div class="col-xs-3">
	
<%= link_to content_tag(:i, ' New', class: 'glyphicon glyphicon-plus'),
	new_user_path, class: 'btn btn-primary' if  current_user.can_create?(Admin::User)
%>
</div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
	  <th>Role</th>
      <th>Operation</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
		<td><%= link_to user.id, edit_user_path(user) %></td>
		<td><%= user.name %></td>
		<td><%= user.email %></td>
		<td><%= user.role %></td>
		
		
        <td>
			<% if current_user.can_update?(user) %>
			<%= link_to content_tag(:i, ' Edit', class: 'glyphicon glyphicon-edit'),
				edit_user_path(user), class: 'btn btn-info'
			%>
			<% end %>
			
			<% if current_user.can_update?(user) %>
				<%= link_to content_tag(:i, ' Delete', class: 'glyphicon glyphicon-trash'), 
					user,
					class: "btn btn-danger",
					method: :delete,
					data: { confirm: "Delete user #{user.name} ?"}	
					%>
			<% end %>
		</td>
		
      </tr>
    <% end %>
  </tbody>
</table>

<br>


