        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<%= link_to "Kayac Admin", "/", class: "navbar-brand" %>
            </div>
			
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
				
					<% if user_signed_in? %>
					<li>
						<%= link_to edit_user_registration_path, :label => "Profile" do %>
							<i class="fa fa-user"></i> Welcome <%= current_user %>
						<% end %>
					</li>
				
	                <li>
						<%= link_to destroy_user_session_path,  :label => "Log Out" do %>
							<i class="fa fa-fw fa-power-off"></i> Log Out
						<% end %>
	                </li>
					
				<% else %>
					<li>
						<%= link_to new_user_session_path, :label => "Sign in" do %>
							<i class="fa fa-user"></i> Sign in
						<% end %>
					</li>
					
					<li>
						<%= link_to new_user_registration_path, :label => "Sign up" do %>
							<i class="fa fa-user"></i> Sign up
						<% end %>
					</li>
					
	  			<% end %>
            </ul>
			
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
					<% if user_signed_in? %>
					<li <% if params[:controller] == "admin/users" -%> class="active" <% end -%> >
						<%= link_to users_path, :title => "Admin Users" do %>
							<i class="fa fa-fw fa-dashboard"></i>Admin Users
						<% end %>
                    </li>
					<% end %>
					<%= render "admin/shared/sidebar" %>
				</ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>